/*PAGINA CONTACTO*/
.fondo-cont{
    background-image: url(../images/dakota-roos-dSRhwPe6v9c-unsplash_2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}
.main-cont{
    margin-top: 100px;
}
form{
    width: 100%;
}