/*PAGINA PROYECTOS*/
.pag-proy{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 198px, 300px, 1fr, 1fr, 206px;
    grid-template-areas:
    "header header"
    "main-proy main-proy"
    "main-proy main-proy"
    "main-proy main-proy"
    "footer footer";
}
.main-proy{
    margin: 100px 30px 30px 30px;
    grid-area: main-proy;
}
.menu-proy{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 30px 30px 30px;
}
.menu-proy a{
    text-decoration: none;
    color: #0e0e5e;
    transition: 0.5s ease;
    padding: 10px;
}
.menu-proy a:hover{
    color: white;
    border: #0e0e5e solid 1px;
    background-color: #0e0e5e;
    border-radius: 5%;
}
@mixin descript {
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: 0.5s ease;
    background: rgba(0, 0, 0, 0.65);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    p{
        text-align: center;
        font-size: 0.8rem;
    }
    div{
        font-weight: bold;
        font-size: 1rem;
        text-align: center;
    }
    &:hover{
        opacity: 1;
    }
}
.list-proy{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 10px;
    .proy{
        position: relative;
        height: 300px;
        width: 200px;
        background-color: white;
        margin: 20px;
        transition: 0.5s ease;
        img{
            display: block;
            object-fit: cover;
            width: 200px;
            height: 300px;
        }
        .descript{
            @include descript();
        }
        &:hover{
            scale: 1.1;
        }
    }
}